@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #fffacc;
  --secondary-color: #3b08f3d8;
  --text-color: white;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--secondary-color);
  font-family: 'Poppins', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 0, 'opsz' 48;
}

.main__container {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  padding: 50px;
  flex: 1;
}

.main__title {
  font-size: 40px;
  font-weight: 700;
  color: var(--text-color);
}

.main__section {
  display: flex;
  justify-content: center;
  gap: 65px;
  margin-top: 20px;
  padding: 10px;
}

/* Score List */
.scores__section {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.title__section {
  font-size: 30px;
  font-weight: 700;
  color: var(--text-color);
}

.scores__list {
  margin-top: 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-height: 501px;
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scores__list::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.score__card {
  display: flex;
  padding: 10px;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
}

.user {
  display: flex;
  padding-left: 10px;
  align-items: center;
  font-size: 20px;
  gap: 20px;
}

.score {
  font-size: 25px;
  font-weight: 700;
  color: rgb(52, 33, 98);
}

/* Add Score */
.add_score_section {
  display: flex;
  flex-direction: column;
  flex: 1;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  gap: 20px;
}

input {
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
}

/* Hide the arrow in the input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  padding: 8px;
  width: 100px;
  cursor: pointer;
  background: white;
  border: none;
  border-radius: 10px;
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: 700;
}

button:active {
  transform: scale(0.9);
  cursor: progress;
}

.bt__submit {
  align-self: flex-end;
}

.new {
  background-color: rgb(70, 235, 139);
}

#message {
  margin-top: 20px;
  font-size: 18px;
  color: var(--text-color);
  font-weight: 700;
}

/* creating css loader */

#loading {
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #f241bd;
  border-radius: 100%;
  margin: auto;
  display: none;
  animation: spin 1s infinite linear;
}

#loading.display {
  display: block;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
